.main{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  padding: 0px 10px;
  width: 100%;
  max-width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.iconClose{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 12px;
  right: 12px;
}

.iconClose svg, .iconClose path{
  font-size: 25px;
  color: var(--bg5);
  cursor: pointer;
}

.error{
  margin-top: 5px;
  font-size: 11.5px;
  color: red;
}

.diasSemana{
  padding: 0 6px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.diasSemana div{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.formLabel{
  color: var(--clrGR000) !important;
}

