.main{
  padding: 30px 0 200px 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section{
  padding: 0 10px;
  width: 100%;
  max-width: 600px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section > div{
  padding: 8px 0;
  margin-bottom: 10px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(224, 255, 255);
  border-radius: 5px;
  cursor: pointer;
}

.section > div:hover{
  background-color: rgb(216, 255, 255);
}

.section > div:active{
  background-color: rgb(204, 255, 255);
}

.retirado{
  background-color: var(--inProcess) !important;
}

.ingresado{
  background-color: var(--finish) !important;
}

.column1{
  width: 10%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.column1 svg, .column1 path{
  font-size: 20px;
  color: var(--clrBL1);
  cursor: pointer;
}

.column2{
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  cursor: pointer;
}

.column2 div:nth-child(1){
  padding: 0 10px 0 4px;
  width: 45%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}

.column2 div:nth-child(2){
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.column2 div:nth-child(3){
  padding: 0 4px;
  width: 35%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.column2 h1{
  font-size: 14px;
  font-weight: 600 !important;
  color: black;
  cursor: pointer;
}

.column2 div:nth-child(2) h1, .column2 div:nth-child(3) h1{
  text-align: center !important;
}

.column2 h2{
  font-size: 14px;
  color: black;
  cursor: pointer;
}

.column2 h2{
  font-size: 14px;
  color: black;
  cursor: pointer;
}

.column2 div:nth-child(3) h2, .column2 div:nth-child(4) h2{
  font-size: 14px;
  text-align: center !important;
  text-transform: capitalize;
  color: black;
  cursor: pointer;
}