.main{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.sectionDatos{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;  
}

.datos_1 div, .datos_2 div{
  margin: 10px 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; 
}

.datos_2 div{
  align-items: flex-end !important;  
}

.datos_1 h1, .datos_2 h1{
  font-size: 14px;
  font-weight: 600 !important;
  color: black;
}

.datos_1 h2, .datos_2 h2{
  font-size: 14px;
  color: var(--clrGR000);
}

.toggleOFF, .toggleON{
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggleOFF svg, .toggleON svg, .toggleOFF path, .toggleON path{
  margin-right: 5px;
  color: var(--clrGR0);
  cursor: pointer;
}

.toggleON svg, .toggleON path{
  color: var(--clrBL000);
  cursor: pointer;
}

.toggleNota{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.toggleNota h1{
  font-size: 14px;
  color: black;
}

.toggleNotaOFF, .toggleNotaON{
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formNota{
  margin-top: 20px;
}

.charCount{
  margin-top: 20px;
  font-size: 12px;
  color: var(--clrGR000);
}

.iconPlus{
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconPlus div{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: var(--clrBL1);
  cursor: pointer;
}

.iconPlus div:hover{
  background-color: var(--clrBL2);
}

.iconPlus div:active{
  background-color: var(--clrBL3);
}

.iconPlus svg, .iconPlus path{
  font-size: 18px;
  cursor: pointer;
}

.sectionTotal{
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sectionTotal h1{
  font-size: 12.5px;
  color: black;
}

.sectionTotal_1{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.sectionTotal_2{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.sectionTotal_2 h1{
  margin: 3.5px 0;
}

.sectionTotal_1 h1:nth-child(3), .sectionTotal_2 h1:nth-child(3){
  font-weight: 600 !important;
}

.iconEdit{
  margin-top: 50px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconEdit svg, .iconEdit path{
  font-size: 26px;
  color: var(--clrBL0000);
  cursor: pointer;
}

.iconEdit div:hover svg, .iconEdit div:hover path{
  color: var(--clrBL0);
}

.iconEdit div:active svg, .iconEdit div:active path{
  color: var(--clrBL1);
}

.iconDel{
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.iconDel svg, .iconDel path{
  margin-right: 10px;
  font-size: 20px;
  color: var(--clrGR000);
  cursor: pointer;
}

.iconDel div:hover svg, .iconDel div :hover path{
  color: var(--clrGR00);
}

.iconDel div:active svg, .iconDel div:active path{
  color: var(--clrGR0);
}

.iconClose svg, .iconClose path{
  padding: 8px;
  font-size: 34px;
  color: var(--clrGR00);
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.iconClose svg:hover,.iconClose path:hover{
  background-color: var(--clrGR3);
}

.iconClose svg:active,.iconClose path:active{
  background-color: var(--clrGR4);
}

.iconCheck{
  margin-bottom: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.iconCheck:hover{
  background-color: var(--clrGR2);
}

.iconCheck:active{
  background-color: var(--clrGR3);
}

.iconCheck svg, .iconCheck path{
  font-size: 22px;
  color: var(--clrBL1);
  cursor: pointer;
}

