.main{
  margin: 200px 0 0 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boxForm{
  padding: 160px 0 50px 0;
  width: 320px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(22, 22, 22, 0.2) 0px 8px 24px;
  position: relative;
}

.logo{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -60px;
}

.logo img{
  height: 160px;
}

.link{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link a{
  font-size: 14.5px;
  color: var(--clrBL2);
  cursor: pointer;
}

.label{
  color: var(--clrGR0) !important;
  background-color: azure !important;
}

.footer{
  margin-top: 50px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer div{
  width: 100%;
  max-width: 250px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer h1{
  font-size: 14px;
  color: var(--clrBL0);
  font-weight: 600 !important;
}

@media screen and (min-width: 768px) {

  .boxForm{
    width: 500px;
  }

}