.section{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box1{
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.box1 h1{
  margin-top: 5px;
  font-size: 14px;
  font-weight: 600 !important;
  color: var(--clrBL0000);
}

.box1 h2{
  margin-top: 3px;
  font-size: 12.5px;
  color: var(--clrGR0000);
}

.box1_1, .box1_2{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box1_1 div, .box1_2 div{
  margin: 5px 0;
}

.box1_1{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.box1_1 h1, .box1_1 h2{
  text-align: left;
}

.box1_2{
  width: 35%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.box1_2 h1, .box1_2 h2{
  text-align: right;
}

.iconEdit{
  margin-top: 50px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconEdit svg, .iconEdit path{
  font-size: 26px;
  color: var(--clrBL0000);
  cursor: pointer;
}

.iconEdit svg:hover, .iconEdit:hover path{
  color: var(--clrBL0);
}

.iconEdit svg:active, .iconEdit:active path{
  color: var(--clrBL1);
}

.iconDel{
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.iconDel svg, .iconDel path{
  font-size: 20px;
  color: var(--clrGR000);
  cursor: pointer;
}

.iconDel svg:hover, .iconDel:hover path{
  color: var(--clrGR00);
}

.iconDel svg:active, .iconDel:active path{
  color: var(--clrGR0);
}

.iconClose svg, .iconClose path{
  padding: 8px;
  font-size: 34px;
  color: var(--clrGR00);
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.iconClose svg:hover,.iconClose path:hover{
  background-color: var(--clrGR3);
}

.iconClose svg:active,.iconClose path:active{
  background-color: var(--clrGR4);
}

.iconCheck{
  margin-bottom: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.iconCheck:hover{
  background-color: var(--clrGR2);
}

.iconCheck:active{
  background-color: var(--clrGR3);
}

.iconCheck svg, .iconCheck path{
  font-size: 22px;
  color: var(--clrBL1);
  cursor: pointer;
}


